<%@utilities.each do |utility|%>
  <%= link_to user_utility_path(user_id: current_user.id, id: utility.id) do %>
    <div class="utility">
    
        <i class="fa-solid fa-plug-circle-plus fa-3x"></i>
  
      <div class="utility__detail">
        <p class="utility__name" > <%= utility.name %> </p>
        <p class="utility__date" > <%= utility.utility_payments.count %> </p>
      </div>  
    </div> 
  <%end%>
<%end%>