@mixin media($query) {
  @if $query == tabletAndUp {
    @media (min-width: 50rem) { @content}
  }

  @if $query == laptopAndUp {
    @media (min-width: 50rem) { @content}
  }

  @if $query == desktopAndUp {
    @media (min-width: 50rem) {@content}
  }
}
