.header {
  display: flex; 
  gap: var(--space-s);
  padding: var(--space-l);
  background-color: var(--color-main);
  color: var(--color-white);
  justify-content: space-between; 
  align-items: center;
  width: 100vw;
  list-style: none;
  height: 10vh;
  font-weight: 600;

  @include media(tabletAndUp) {
    margin-bottom: var(--space-xl);
  }

  .back {
    color: var(--color-white);
    font-size: var(--font-size-xl);
  }

  .btn-header {    
    color: var(--color-white); 
    background-color: var(--color-main);
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;   
    z-index: 1000;
  }
}
