<nav class="desktop-navbar" >
  <div class="splash-logo">
    <div class="logo-header"> <i class="fa-solid fa-people-roof "></i> </div>
    <h1 class="logo-text"><strong>Pay</strong>Bill</h2>
  </div>
  <ul class="nav-items">
   
    <div class="list">        
      <li class="nav-item">
       <% if request.fullpath == "/users/sign_in" %>
          <%= link_to "Register", new_user_registration_path, class: "nav-link" %>
        <% end %>
      </li>
      <% if request.fullpath == "/users/sign_up" %>
      <li class="nav-item nav-signout">
        <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
      </li>
      <% end %>
    </div>   
  </ul>        
</nav>
  