<section class="splash"> 
  <h1 class="splash__logo"><strong>Pay</strong>Bill</h2>
  <%= link_to "Login", new_user_session_path, class:"btn btn--blue"%>
  <%= link_to "Signup", new_user_registration_path, class:'btn btn--link btn--link--1' %>
</section>
