.desktop-navbar {
  display: none;

  @include media(tabletAndUp) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--space-xxxl);
    padding: var(--space-xs) var(--space-xl);
    background-color: var(--color-main);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
  }

  .splash-logo {
    width: auto
  }

  .nav-items {
    display: flex;
    align-items: center;
    list-style: none;
    min-width: 80%;
  }

  .list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .col-left,
  .col-right {
    display: flex;
    gap: var(--space-s);
    align-items: center;

  }

  .col-right {
    float: right;
  }

  .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-s);
  }

  .nav-item {
    font-size: var(--font-size-l);
    font-weight: 500;
    border-bottom: 4px solid transparent;
  }

  .nav-link {
    text-decoration: none;
    color: var(--color-white);
    transition: all 0.35s;

    &:hover {
      color: var(--color-light);
      border-bottom: 4px solid var(--color-second);
    }
  }

  .nav-header {
    display: flex;
    gap: var(--space-s);

    .user-avatar {
      width: 40px;
      height: 40px;
      border: 1px solid var(--color-second);
      border-radius: 50%;
    }
  }

  .nav-signout {
    border: 1px solid var(--color-second);
    padding: 3px;
    border-radius: 4px;

    .nav-link {
      border-bottom:none;      
    }
    &:hover {
      background-color: var(--color-second);
    }
  }

  .splash-logo {
    display: flex;
    align-items: center;
    font-family: var(--font-logo);
    border-radius: var(--border-radius) 30%;
    font-size: var(--font-size-xxl);
    color: var(--color-white);
    background-color: var(--color-main);

    .logo-header {
      background-color: var(--color-second);
      height: 100%;
      width: 40%;
      padding: 0 var(--space-xs);
      border-radius: var(--border-radius) 30%;
    }
  }
}
