.form {
  width: 100%;
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--space-xxxs);
  line-height: 0;


  &__group {
    flex: 1;
    label {
      display: none;
      height: 0;
    }
  }
  .first {
    margin-top: var(--space-m);
  }

  &__input {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: var(--space-xs) var(--space-xs);
    border: 2px solid transparent;
    background-color: var(--color-white);
    border-bottom: 2px solid var(--color-light);
    outline: none;
    transition: all 500ms;
  

    &:focus {
      border-bottom: 3px solid var(--color-main);  
    
    }

    &--invalid {
      border-color: var(--color-main);
    }   
  }
}
