.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-xxxs);
  line-height: 0;
  padding: 0 var(--space-m);

  @include media(tabletAndUp) {
    width: 50%;
    gap: var(--space-s);
    margin-top: var(--space-xxxxl);
  }

  &__group {
    flex: 1;
    width: 100%;

    label {
      display: none;
      height: 0;
    }

    @include media(tabletAndUp) {
      justify-self: start;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .first {
    margin-top: var(--space-m);
  }

  &__input {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: var(--space-m) var(--space-xs);
    border: 2px solid var(--color-light);
    background-color: var(--color-white);
    border-bottom: 3px solid var(--color-light);
    outline: none;
    transition: all 500ms;

    &:focus {
      border-bottom: 3px solid var(--color-main);
      background-color: var(--color-light);
    }

    &--invalid {
      border-color: var(--color-main);
    }

    @include media(tabletAndUp) {
      border: 2px solid var(--text-muted);
      border-radius: var(--border-radius);
    }
  }

  .row {
    display: flex;
    align-items: center;
    gap: var(--space-m);
    padding: 0 var(--space-m);
  }

  .col-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid var(--text-muted);
    overflow: hidden;
  }

  .icon {
    overflow: hidden;
    height: 100px;
  }

  #payment_utility_id {
    font-size: 1rem;
    width: 80%;
    padding: var(--space-m) var(--space-xs);
    border: 2px solid var(--color-light);
    background-color: var(--color-white);
    border-bottom: 3px solid var(--color-light);
    outline: none;

    option {
      padding: 10px 0;
      font-size: var(--font-size-xs);
      width: inherit;
    }
  }

  select {
    margin-top: var(--space-l);
  }

  .checkbox-group {
    align-self: start;
    margin-top: var(--space-l);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--space-xl);
    row-gap: var(--space-l);

    label {
      font-size: var(--font-size-m);
      display: flex;
      align-items: center;
      gap: var(--space-m);
    }
  }

  h2 {
    margin-top: var(--space-l);
    align-self: start;
    color: var(--text-muted);
    font-size: var(--font-size-m);

    @include media(tabletAndUp) {
      align-self: center;
    }
  }
}
