.navbar {
  display: none;
  flex-direction: column;
  gap: var(--space-l);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 70%;
  animation: navbar-diplay 4s both;
  color: var(--color-white);
  background-image: linear-gradient(to bottom, var(--color-main), var(--color-main-rotate), var(--color-second));
  padding: var(--space-l);
  z-index: 1111;


  button {
    border: none;
    outline: none;
    color: var(--color-white);
    background-color: transparent;
    position: absolute;
    top: var(--space-s);
    right: var(--space-l);

  }

  hr {
    background-color: white;
    width: 100%;
    height: 2px;
    margin: var(--space-s) 0;
  }


  .nav-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    img {
      display: block;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-bottom: var(--space-s);
      border: 4px solid var(--color-light);
      padding: 4px;
    }
    span {
      display: block;
      font-size: var(--font-size-m);
    }

  }

  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: var(--space-m);

    .nav-item {    
      font-size: var(--font-size-m);
      letter-spacing: 1.5px;
      line-height: 1.2;      
    }

    .nav-link {
      text-decoration: none;
      color: var(--color-white);
      font-weight: 600;
      transition: color 0.5s;
      text-transform: uppercase;
      transition: color 0.5ss;

      &:hover {
        color: var(--color-muted);
      }
    }
  }
}


@keyframes navbar-dipaly {
  0%, 100% {
    left: -100%;    
  }

  5%, 60% {
    left: 0;
  }  
}