
.utility-detail {
  width: 100%;
}

.utilities {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-s);
  width: 100%;
  padding: var(--space-m);
 
 

  .utility {
    background-color: var(--color-white); 
    padding: var(--space-xxs);
    display: flex;
    justify-content: space-between;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-small);
    min-height: 7rem;

    &__detail {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 3;
      text-align: right;
    }   
  }  
}

.utilities-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  min-height: 10%;
  background-color: var(--color-second);
  padding: var(--space-l) auto;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}